# Read about configuration, here:
# https://craftcms.com/docs/5.x/configure.html

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=CraftCMS--6a6ab2e9-6337-4b7f-91b7-a9049159e143

# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# General settings
CRAFT_SECURITY_KEY=rblraw5ZsWDJprtPrVMY1Zcwa2vZjBNV
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_DISALLOW_ROBOTS=true

PRIMARY_SITE_URL=https://valgistesshots.ddev.site/
ENDPOINT_URL=https://admin.valgistesshots.ddev.site/api
ENDPOINT_TOKEN=kvalUybrz1Wy4POTbyZHk4lQ3PO1tnrL
CRAFT_BASE_CP_URL=https://admin.valgistesshots.ddev.site/
FRONTEND_URL=https://valgistesshots.ddev.site/
